@model OnlineShop.Web.Models.ProductViewModel
@using OnlineShop.Common
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/shared/Layout.cshtml";
    var moreImages = (List<string>)ViewBag.MoreImages;
    var relatedProducts = (IEnumerable<OnlineShop.Web.Models.ProductViewModel>)ViewBag.RelatedProducts;
    var listTags = (IEnumerable<OnlineShop.Web.Models.TagViewModel>)ViewBag.ListTags;
}
<link rel="stylesheet" href="/Assets/Client/css/etalage.css" type="text/css" media="all" />
@section FooterJs {
    <script type="text/javascript" src="/Assets/Client/js/jquery.flexisel.js"></script>
    <script src="~/Assets/Client/js/jquery.etalage.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,
                source_image_width: 900,
                source_image_height: 1200,
                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 5,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
    </script>
}

<div class=" single_top">
    <div class="single_grid">
        <div class="grid images_3_of_2">
            <ul id="etalage">
                <li>
                    <a href="optionallink.html">
                        <img class="etalage_thumb_image img-responsive" src="@Model.Image" />
                    </a>
                </li>
                @if (Model.Image != null || moreImages.Count > 0)
                {
                    if (moreImages.Count == 0)
                    {
                        <li>
                            <img class="etalage_source_image img-responsive" src="@Model.Image" title="" />
                        </li>
                    }
                    else
                    {
                        foreach (var item in moreImages)
                        {
                            <li>
                                <img class="etalage_source_image img-responsive" src="@item" title="" />
                            </li>
                        }
                    }
                }
            </ul>
            <div class="clearfix"> </div>
        </div>
        <div class="desc1 span_3_of_2">
            <h4>@Model.Name</h4>
            <div class="cart-b">
                <div class="left-n ">@(Model.Price == 0 ? "Contact" : CommonConstants.GetCurrency(Model.Price))</div>
                <a class="now-get get-cart-in" href="#">ADD TO CART</a>
                <div class="clearfix"></div>
            </div>
            <h6>@Model.Quantity items in stock</h6>
            <p>@Model.Description</p>
            <div class="tag">
                <ul class="custom_style">
                    Tags:
                    @foreach (var tag in listTags)
                    {
                        <li><a href="/tag/@(tag.ID).html">@(tag.Name == listTags.Last().Name ? tag.Name : tag.Name + ",")</a></li>
                    }
                </ul>
            </div>
            <div class="clearfix"> </div>
            <div class="share">
                <h5>Share Product :</h5>
                <ul class="share_nav">
                    <li><a href="#"><img src="/Assets/Client/images/facebook.png" title="facebook"></a></li>
                    <li><a href="#"><img src="/Assets/Client/images/twitter.png" title="Twiiter"></a></li>
                    <li><a href="#"><img src="/Assets/Client/images/rss.png" title="Rss"></a></li>
                    <li><a href="#"><img src="/Assets/Client/images/gpluse.png" title="Google+"></a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
    <ul id="flexiselDemo1">
        @if (relatedProducts.Count() > 0)
        {
            foreach (var product in relatedProducts)
            {
                <li><img src="@product.Image" /><div class="grid-flex"><a href="/@(product.Alias).p-@(product.ID).html">@product.Name</a><p>@(product.Price == 0 ? "Contact" : product.Price.ToString("n0"))</p></div></li>
            }
        }
    </ul>
    <div class="toogle">
        <h3 class="m_3">Product Details</h3>
        <p class="m_text">@Html.Raw(Model.Content)</p>
    </div>
</div>