@model OnlineShop.Web.Models.RegisterViewModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/shared/Layout.cshtml";
}

<div class="register">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken();
        @Html.ValidationSummary(true, "", new { @class = "validation" })
        <div class="register-top-grid">
            <h3>PERSONAL INFORMATION</h3>
            <div class="mation">
                <span>Fullname<label>*</label></span>
                @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "validation" })
                @Html.TextBoxFor(model => model.Fullname, new { @class = "textbox" })

                <span>Phone<label>*</label></span>
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "validation" })
                @Html.TextBoxFor(model => model.Phone, new { @class = "textbox" })

                <span>Address<label>*</label></span>
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "validation" })
                @Html.TextBoxFor(model => model.Address, new { @class = "textbox" })

                <span>Username<label>*</label></span>
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "validation" })
                @Html.TextBoxFor(model => model.Username, new { @class = "textbox" })

                <span>Email Address<label>*</label></span>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validation" })
                @Html.TextBoxFor(model => model.Email, new { @class = "textbox" })

                <span>Password<label>*</label></span>
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "validation" })
                @Html.PasswordFor(model => model.Password, new { @class = "textbox" })

                <span>Confirm password<label>*</label></span>
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "validation" })
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "textbox" })
            </div>
            <div class="clearfix"> </div>
            @Html.ValidationMessage("CaptchaCode", new { @class = "validation" })
            @Html.Label("CaptchaCode", "Retype the code from the picture:")
            @{MvcSimpleCaptcha exampleCaptcha = new MvcSimpleCaptcha("ExampleCaptcha");}
            @Html.SimpleCaptcha(exampleCaptcha)
            @Html.TextBox("CaptchaCode")
            <div class="register-but">
                <input type="submit" value="submit">
                <div class="clearfix"> </div>
            </div>
        </div>
    }
</div>