@model OnlineShop.Web.Models.FeedbackViewModel
@using BotDetect.Web.Mvc;
@{
    ViewBag.Title = "Contact Details";
    Layout = "~/Views/shared/Layout.cshtml";
}

<div class="main">
    <div class="reservation_top">
        <div class=" contact_right">
            <h3 class="text-center">Contact</h3><br />
            <address class="address">
                <p><b>@Model.ContactDetailVm.Name</b></p>
                <dl>
                    <dt> </dt>
                    <dd>Address:<span> @Model.ContactDetailVm.Address</span></dd>
                    <dd>Phone:<span> @Model.ContactDetailVm.Phone</span></dd>
                    <dd>E-mail:&nbsp; <a href="mailto:@(Model.ContactDetailVm.Email)">@(Model.ContactDetailVm.Email)</a></dd>
                </dl>
            </address>
            <div class="contact-form">
                @using (Html.BeginForm("SendFeedback", "Contact", FormMethod.Post))
                {
                    if (TempData["SuccessMsg"] != null)
                    {
                        <div class="alert alert-success" role="alert">
                            <strong>Message sent!!</strong>
                            <br />We will reply your message as soon as possible
                        </div>
                    }
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" });

                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", @class = "textbox" });

                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(model => model.Email, new { placeholder = "Your email", @class = "textbox" });

                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    @Html.TextAreaFor(model => model.Content, new { placeholder = "Message" });
                    @*<div class="clearfix"></div>
                    <br />*@
                    @Html.Label("CaptchaCode", "Retype the code from the picture:")
                    MvcSimpleCaptcha exampleCaptcha = new MvcSimpleCaptcha("ExampleCaptcha");
                    @Html.SimpleCaptcha(exampleCaptcha)
                    @Html.TextBox("CaptchaCode")
                    <input type="submit" value="Send">
                    <div class="clearfix"></div>
                }
            </div>
        </div>
    </div>
</div>
