@model IEnumerable<OnlineShop.Web.Models.ProductCategoryViewModel>

<div class="sub-cate">
    <div class="top-nav rsidebar span_1_of_left">
        <h3 class="cate">CATEGORIES</h3>
        <ul class="menu">
            @foreach (var productCategories in Model.Where(x => x.ParentID == 0))
            {
                var url = "/" + productCategories.Alias + ".pc-" + productCategories.ID + ".html";
                var childProductCategories = Model.Where(x => x.ParentID == productCategories.ID);

                if (childProductCategories.Count() > 0)
                {
                    <li class="item@(Model.ToList().IndexOf(productCategories))">
                        <a href="#"><img class="arrow-img" src="~/Assets/Client/images/arrow1.png" alt="" />@productCategories.Name</a>
                        <ul class="cute">
                            @foreach (var childCategory in childProductCategories)
                            {
                                var childUrl = "/" + childCategory.Alias + ".pc-" + childCategory.ID + ".html";
                                <li class="subitem@(childProductCategories.ToList().IndexOf(childCategory))"><a href="@childUrl">@childCategory.Name</a></li>
                            }
                        </ul>
                    </li>
                }
                else
                {
                    <ul class="kid-menu">
                        <li><a href="@url"><img class="arrow-img" src="~/Assets/Client/images/arrow1.png" hidden alt="" />@productCategories.Name</a></li>
                    </ul>
                }
            }
        </ul>
    </div>
    <script src="/Assets/Client/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var menu_ul = $('.menu > li > ul'),
                menu_a = $('.menu > li > a');
            menu_ul.hide();
            menu_a.click(function (e) {
                e.preventDefault();
                if (!$(this).hasClass('active')) {
                    menu_a.removeClass('active');
                    menu_ul.filter(':visible').slideUp('normal');
                    $(this).addClass('active').next().stop(true, true).slideDown('normal');
                } else {
                    $(this).removeClass('active');
                    $(this).next().stop(true, true).slideUp('normal');
                }
            });
        });
    </script>
    <div class=" chain-grid menu-chain">
        <a href="single.html"><img class="img-responsive chain" src="/Assets/Client/images/wat.jpg" alt=" " /></a>
        <div class="grid-chain-bottom chain-watch">
            <span class="actual dolor-left-grid">300$</span>
            <span class="reducedfrom">500$</span>
            <h6><a href="single.html">Lorem ipsum dolor</a></h6>
        </div>
    </div>
    <a class="view-all all-product" href="product.html">VIEW ALL PRODUCTS<span> </span></a>
</div>
